.App {
  text-align: center;
} 
nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
   background: rgb(1, 0, 5);
   color: rgb(248, 242, 242);
}
.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  
}
li {
  text-decoration: none;

}
div h1 {
  position: absolute;
  bottom: 350px;
  right: 16px;
  padding-right: 280px;

}
div h2 {
  position: absolute;
  bottom: 300px;
  right: 70px;
  padding-right: 280px;
}
div img {
  margin-left: 3%;
  margin-right: 500%;
  margin-top: 3%;
  border-radius: 350px;
}